body {
  margin: 0;
  background: #f7f7f7;
  font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
}



#app {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  width: 800px;
}

.main__logo {
  width: 100%;
}

.main__logo-image {
  width: 230px;
  height: 60px;
}

.input-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 30px;
  width: 800px;
  border: 1px solid #dcdada;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-form__h1 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin-bottom: 0;
}

.input-form__label {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.input-form__holder {
  display: flex;
  flex-direction: column;
}

.input-form__input {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.input-form__textarea.form-control {
  height: 8.75rem;
  resize: none;
}

.input-form__input::placeholder,
.input-form__textarea::placeholder {
  color: #000000;
  opacity: 0.4;
}

.input-form__input:focus,
.input-form__textarea:focus {
  border: 2px solid rgba(69, 165, 255, .5);
  box-shadow: none;
}

.input-form__feedback-holder {
  display: grid;
  grid-template-areas: "fb1 fb2";
  grid-template-columns: 50% 50%;
  line-height: 1.5625rem;
}

.input-form__feedback-holder__invalid-name,
.input-form__feedback-holder__invalid-mail {
  width: 100%;
  font-size: 1rem;
  color: #FF6666;
  padding: 0 .75rem;
  display: none;
}

.input-form__feedback-holder__invalid-name {
  grid-area: fb1;
}

.input-form__feedback-holder__invalid-mail {
  grid-area: fb2;
}

.input-form__feedback-holder__invalid-name.invalid-data,
.input-form__feedback-holder__invalid-mail.invalid-data {
  display: inherit;
}

.input-form__file-button {
  border: none;
  width: fit-content;
  margin: .625rem 0;
  padding: 0 2px;
  background: transparent;
  color: #0055fb;
}

.input-form__file-button:hover {
  color: #0055FBd9;
}

.input-form__file-button:focus {
  outline: none;
  border: 1px solid #45a5ff80;
  border-radius: 7px;
}

.input-form__file-button span {
  padding: 0 0 0 2px;
}

.input-form__files-feedback {
  width: 100%;
  font-size: 1rem;
  color: #FF6666;
  padding: 0 .75rem;
}

.input-form .input-form__submit-button,
.input-form .input-form__submit-button:focus {
  color: #ffffff;
  background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: .3125rem 0;
  padding: .25rem 1.645rem;
  border: 2px solid #45A5FF;
  border-radius: 7px;
  outline: none;
  box-shadow: none;
}

.input-form .input-form__submit-button:not(:disabled):not(.disabled):hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  border-radius: 5px;
}

.input-form .input-form__submit-button:not(:disabled):not(.disabled):active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;
  border-radius: 5px;
  outline: none;
}

.input-form .input-form__submit-button:disabled {
  background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%);
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}

.input-form__files-input-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.input-form__files-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px dashed #cccccc;
  border-radius: 5px;
}

.input-form__attachments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-form__attachments__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 365px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.input-form__attachments__item-image {
  width: 32px;
  height: auto;
}

.input-form__attachments__item-name {
  width: 100%;
  padding: 0 16px;
}

.input-form__attachments__item-delete {
  width: 83px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #ff6666;
  background: white;
  border: none;
}

.input-form__attachments__item-delete:hover {
  color: #ff6666d9;
}

.input-form__attachments__item-delete:focus {
  outline: none;
}

.input-form__attachments__item-bin {
  width: 13px;
  height: 16px;
}

.input-form__attachments__item-text {
  padding: 0 0 0 6px;
}

.result-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.875rem;
}

.result-list__h1 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0;
}

.result-list__results {
  margin-top: 1.25rem;
}

.result-table__header {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  color: #00000066;
  border-bottom: 1px solid #DDDDDD;
}

.result-table__header :nth-child(1) {
  width: 100px;
}

.result-table__header :nth-child(2) {
  flex: auto;
}

.result-table__row {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.result-table__row :nth-child(1) {
  width: 100px;
}

.result-table__row :nth-child(2) {
  flex: auto;
}

.result-table__row .success {
  color: #03A100;
}

.result-table__row .error {
  color: #FF6666;
}

.result-table__row .queue {
  color: #00000066;
}

/* old */
.input-form__buttons-holder {
  display: flex;
}

.input-form__buttons-holder__button {
  margin: 0 5px 0 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
  padding: 15px;
  width: 800px;
  border: 1px solid #dcdada;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.todo-list__item {
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 50px auto 25px;
  grid-template-rows: 30px auto;
  grid-template-areas: "icon title toolbar" "icon task toolbar";
  grid-gap: 3px;
  /* background: #f0f9f1; */
  border: 1px solid #e4e1e1;
  border-radius: 5px;
  /* box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1); */
}

.todo-list__item.item-completed {
  background: #f4fbf1;
}

.todo-list__item.item-not-completed {
  background: #fbf8f1;
}

.todo-list__item__icon {
  grid-area: icon;
}

.todo-list__item__icon.item-completed {
  color: #0f900f;
}

.todo-list__item__icon.item-not-completed {
  color: #e09915;
}

.todo-list__item__title {
  grid-area: title;
}

.todo-list__item__task {
  grid-area: task;
}

.todo-list__item__toolbar {
  grid-area: toolbar;
}

.todo-list__item__toolbar__button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 18px;
  width: 20px;
}

.todo-list__item__toolbar__button:focus {
  outline: none;
}

.todo-list__item__toolbar__button .material-icons:hover {
  color: #f3052f;
}

.input-left {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-right: none;
  border-radius: .25rem 0 0 .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-right {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
